- content_for :title do
  Source Sans
- content_for :body_id do
  source-sans-page
- content_for :body_class do
  typography-page

%h1.hero_text_bold Meet Source Sans. It’s ‘Conservative.’
%h1.hero_text_thin But still a bit friendly, when it wants to be.
%h1 Big title stuff with this here h1 tag Demi 36/52. Indeed.

= render 'styleguide/typography/content_sample'

%p body copy here, so here’s a bit of body copy for you, sir.
%h6 As is Header 6 is 16/18 bold. For other other stuff.
%p body copy here, so here’s a bit of body copy for you, madam.

%hr

= render 'styleguide/typography/typography'
