%nav
  %a{href: "#{:styleguide}"}> Styleguide
  / %a{:href => "/background_tool"}> Background Tool
  %a{ href: "http://github.com/sassyseeds/sassyseeds", target: "_blank"}> Fork on Github
  / %a{:href => "/styleguide/search"} Search Results Sample